@charset "UTF-8";
/* CSS Document */

html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}

/* Body */

body {
	background: #eee;
}

@media only screen and (max-width: 954px) {
body {
	background: #fff;
}}

/* Container */

#container {
	width: 954px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: transparent;
}

@media screen and (max-width: 954px) {
#container {
	width: 100%;
	height: auto;
	background: #eee;
}}

/* Banner */

#banner {
	height: auto;
	min-height: 80px;
	height:auto !important; /* for IE as it does not support min-height */
	height:80px; 
	width: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #1C3766;
}

img.banner {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 20px;
}

/* Switch between menus */

.slicknav_menu {
	display:none;
}

#menu {
	display: none;
}

@media screen and (max-width: 954px) {
	.js #main-menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

#nav-wrapper {
	margin-top: 0;
}
 
/* general page styling */

#menu-strip {
	width: 100%;
	height: 5px;
	background-color: #1C3766;
	margin-top: -5px;
}

.panel {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	padding: 5px 0 10px 0;
}

.panel-copyright {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	padding: 20px 0 1px 0;
}

.panel-bottom {
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.panel-image {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
}

/*
.panel-homepage-left {
	width: 474px;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	padding: 5px 0 10px 0;
	float: left;
}

@media screen and (max-width: 954px) {
.panel-homepage-left {
	width: 100%;
	float: none;
}}

.panel-homepage-right {
	width: 434px;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	padding: 5px 20px 10px 20px;
	float: right;
}

@media screen and (max-width: 954px) {
.panel-homepage-right {
	width: 100%;
	float: none;
	padding: 5px 0 10px 0;
}}

#homepagetablesleft {
	width: 212px;
	float: left;
}

@media screen and (min-width: 600px) and (max-width: 954px) {
#homepagetablesleft {
	width: 45%;
	padding-left: 20px;
}}

@media screen and (max-width: 599px) {
#homepagetablesleft {
	width: 100%;
	float: none;
}}	

#homepagetablesright {
	width: 212px;
	float: right;
}

@media screen and (min-width: 600px) and (max-width: 954px) {
#homepagetablesright {
	width: 45%;
	padding-right: 20px;
}}

@media screen and (max-width: 599px) {
#homepagetablesright {
	width: 100%;
	float: none;
}}
	*/


/* text */

h1 {
	font-size: 24px;
	color: #333;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin: 15px 20px 15px 20px;
}

h2 {
    font-size: 19px;
	color: #333;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
}

h2.homepage {
	padding-top: 7px;
	margin-left: 10px;
}

@media screen and (max-width: 599px) {
h2.homepage {
	margin-left: 20px;
}}

h2.ukcs-title {
	margin-top: 20px;
	margin-bottom: 0px;
}
	
h3 {
	color: #CC0000;
	font: bold 14px Arial, sans-serif;
	line-height: 31px;
}

p {
	font-size: 14px;
	color: #333;
	font-family: Arial, sans-serif;
	line-height: 22px;
	margin: auto 20px 15px 20px;
}

p.firstline {
	margin-top: 10px;
}

p.lastline-homepage {
	font-weight: bold;
	margin-bottom: 18px;
}

p.lastline {
	margin-bottom: 20px;
}

p.bold {
	font-weight: bold;
	margin-bottom: 0;
}

p.copyright {
    font-size: 11px;
	line-height: normal;
	text-align: center;
}

p.ukcs {
	margin-bottom: 10px;
}

p.ukcs-line {
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
}

p.menu-text {
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
line-height: normal;
font-size: 11px;
text-align: left;
}

p.homepage {
	margin-left: 0px;
	margin-right: 0px;
}

p.avgscore	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
	text-align: left;
	padding-left: 0px;
}

p.allscores {
	padding-top: 10px;
}

p.qualifier {
	margin-top: 10px;
	line-height: 50px;
}

.qual {
	background: #fec171;
	padding: 8px 10px 8px 10px;
}

.qual-b {
	background: #fee0b8;
	padding: 8px 10px 8px 10px;
}

h2.toptenscores {
	margin-top: 35px;
}

.linkhead {
	margin-top: 30px;
}

.bestyf {
	margin-bottom: 5px;
}

.news {
	border-bottom: 1px #333 solid;
	padding-bottom: 20px;
}



.list {
	line-height: normal;
	}

.email {
	line-height: normal;
	margin-left: 0px;
}

.email1 {
	margin-left: 0px;
}

.email2 {
	margin-left: 0px;
	color: #fff;
}

.rules {
	font-size: 24px;
	color: #333;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: 25px;
}

.schedule {
	font-size: 19px;
	color: #333;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-top: 40px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: -5px;
}

.meettable {
	font-size: 19px;
	color: #333;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-top: 10px;
	margin-left: 35px;
	margin-right: 35px;
	margin-bottom: -12px;
}

.closewindow {
	text-align: right;
}

.alphabet {
	letter-spacing: 5px;
}

/* Links */

.hslink {
	font-size: 14px;
	color: #333;
	font-family: Arial, sans-serif;
	text-decoration: none;
	padding-top:30px;
	text-decoration: underline;
}

.link {
	font-size: 14px;
	color: inherit;
	font-family: Arial, sans-serif;
	text-decoration: underline;
}

.link:hover {
	color: #4F95DB;
	text-decoration: underline;
}

.ticker-link {
	font-size: 11px;
	color: #ff6600;
	font-style: normal;
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
}

.ticker-link:hover {
	text-decoration: underline;
}


.allscores {
	font-size: 14px;
	color: #333;
	font-family: Arial, sans-serif;
	text-decoration: none;
	padding-top: 10px;
	margin-left: 35px;
	background: #ffffff;
	text-decoration: underline;
}

.allscores:hover {
	color: #4F95DB;
	text-decoration: underline;
}

a.player-link {
	font-family: Arial, sans-serif;
	color: inherit;
	text-decoration: underline;
}

a.player-link:hover {
	color: #4F95DB;
	text-decoration: underline;
}

/* Placings */

.space {
	margin-bottom: 40px;
}

/** TABLE STYLING **/

table {
	border-collapse: collapse;
	width: 100%;
}

table.machines {
	margin-left: 20px;
	width: 40%;
}

@media only screen and (min-width: 745px) and (max-width: 954px) {
table.machines {
	margin-left: 20px;
	width: 50%;
}}

@media only screen and (min-width: 620px) and (max-width: 744px) {
table.machines {
	margin-left: 20px;
	width: 60%;
}}

@media only screen and (min-width: 500px) and (max-width: 619px) {
table.machines {
	margin-left: 20px;
	width: 75%;
}}

@media only screen and (max-width: 499px) {
table.machines {
	margin-left: 0;
	width: 100%;
}}

table.homepage {
	margin-left: 0px;
}

table.rankings {
	width: 100%;
}

@media only screen and (max-width: 954px) {
table.nowrap {
	overflow-x: auto;
	white-space: nowrap;
}}

table.player-info {
	width: 410px;
	margin-left: 20px;
}

@media only screen and (max-width: 954px) {
table.player-info {
	overflow-x: auto;
	display: block;
	margin-left: 0;
	width: auto;
}}

table.hi-per-player {
	width: 300px;
	margin-left: 20px;
}

@media screen and (max-width: 954px) {
.paddidge {
	padding-right: 10px;
}}

tr.strikeout td:before {
	content: "";
	position: absolute;
	left: 0;
	top: 45%;
	border-bottom: 5px solid #d50000;
	opacity: 0.25;
	width: 100%;
}

td	{
	position: relative;
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	padding-left: 15px;
}


@media screen and (max-width: 954px) {
td	{
	padding-left: 20px;
}}

th	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	padding-left: 15px;
}

@media screen and (max-width: 954px) {
th	{
	padding-left: 20px;
}}

.meetposition	{
	width: 20px;
}

.meetplayer	{
	width: 175px;
}

.meetfinalscore	{
	width: 50px;
}

.meetfinalpoints	{
	width: 50px;
}

.highscoreposition {
	width: 15px;
}

.highscoreplayer {
	width: 170px;
}

td.lastcolumn {
	padding-right: 10px;
}



/** END TABLE STYLING **/


/* styling for UK Comps */

th.ukcomps	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	width: 185px;
}

th.ukcomps-year	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	width: 75px;
}

td.ukcomps	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	width: 150px;
}

td.ukcomps-year	{
	font-family: Arial, Sans-Serif;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	width: 75px;
}

h2.ukcomps {
	margin-top: 30px;
}

/********************************************************
 *	
 *	2021 migration 
 *
 ********************************************************/

.homepage-flex-container {
	padding: 5px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 5px;
}

@media (max-width: 954px) {
	.homepage-flex-container {
		flex-direction: column;
	}
}

.homepage-flex-panel {
	background-color: #fff;
	min-width: 50%;
}

.homepage-table {
	font-size: 11px;
	line-height: 25px;
	padding-left: 10px;
}

@media screen and (max-width: 954px) {
	.homepage-table {
		font-size: 14px;
		line-height: 40px;
		text-align: left;
		padding-left: 20px;
	}
}

a.homepagesmall {
	font-size: 11px;
	color: #333;
	text-decoration: underline;
}

@media screen and (max-width: 954px) {
	a.homepagesmall {
		font-size: 14px;
		display: block;
		padding-top: 20px;
	}
}

.homepagesmall:hover {
	color: #4F95DB;
	text-decoration: underline;
}

.panel-homepage-stats {
	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 5px;
	padding: 5px 0 10px 0;
}

@media screen and (max-width: 954px) {
	.panel-homepage-stats {
		display: none;
	}
}

h2.schedule {
	font-size: 19px;
	color: #333;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 20px;
}

@media screen and (max-width: 599px) {
	h2.schedule {
		font-size: 19px;
		color: #333;
		font-weight: bold;
		font-family: Arial, sans-serif;
		margin-right: 20px;
		margin-bottom: 5px;
		margin-top: 10px;
		margin-left: 10px;
	}
}

.table-holder {
	width: 914px;
	margin-left: 20px;
}

@media screen and (max-width: 954px) {
.table-holder {
		width: 100%;
		margin-left: 0;
		overflow-x: auto;
	}
}

.meet-table-holder {
	width: 42%;
	float: left;
	margin-left: 4%;
	margin-bottom: 30px;
}

@media only screen and (min-width: 441px) and (max-width: 860px) {
	.meet-table-holder {
		margin-top: 20px;
		width: 400px;
	}
}

@media only screen and (max-width: 440px) {
	.meet-table-holder {
		margin-left: 0;
		width: 100%;
	}
}

/* Schedule page */
.schedule-table {
	table-layout: fixed;
	width: 100%;
}

tr {
	white-space: nowrap; /* Bit brave. Adapt later */
}

tr:nth-child(odd) {
	background-color: #f7f7f7;
}

tr.white {
	background-color: #fff;
}

th.score {
	text-align: right;
}

th.padright {
	padding-right: 20px;
}

td.padright {
	padding-right: 20px;
}

td.score {
	text-align: right;
}

@media screen and (max-width: 500px) {
	.mobilehide {
		display: none;
	}
}

a.padright {
	padding-right: 20px;
}

/* Style The Dropdown Button */
.dropbtn {
	background-color: #fee0b8;
	color: #333333;
	padding: 4px 8px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #333333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #fec171;
}

/* Allows table rows to have a surrounding border */
.show-border td {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #fee0b8;
}

.show-border td:first-child {
	border-left: 2px solid;
	border-color: #fee0b8;
}

.show-border td:last-child {
	border-right: 2px solid;
	border-color: #fee0b8;
}
